@import '~bootstrap/scss/bootstrap';

header,
footer {
    nav {
        ul {
            list-style: none;
            padding: 1rem 0;

            li {
                padding: 0 2rem;

                &:hover {
                    color: gray;
                }
            }
        }
    }
}

header {
    .active {
        color: gray;

    }
}

main {
    span {
        font-weight: normal;
        color: gray;
    }

    .submit {
        width: fit-content;
    }
}

footer {
    color: gray;
    background-color: black;
}